/*This stylesheet contains the code for responsive design*/
/*This part is for screen up to 376px*/
@media screen and (max-width: 376px) {
    /* Your CSS rules for devices with width up to 376px go here */
    /*------------------------------------------*/
    /*Paddings*/
    .body_padding{
        padding: 0 1.25rem;
    }
    /*Container flex properties*/
    .flex_container_row{
        column-gap: 1rem;
    }
    /*Header Formatting*/
    .header_bar_social_medias_icons{
        display: none;
    }
    /*------------------------------------------*/
    /*Menu styling*/
    .header_desktop_menu{
        display: none;
    }
    /*------------------------------------------*/
    /*Footer styling*/
    .footer_logo_top{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer_logo_top svg{
        width: 85%;
        padding-top: 5.8rem;
    }
    .footer_container_section{
        flex-wrap: wrap;
        column-gap: 10%;
        justify-content: space-between;
    }
    .footer_services{
        min-width: 40%;
    }
    .footer_sections{
        min-width: 40%;
    }
    .footer_contact_us{
        margin-top: 2.25rem;
    }
    .footer_contact_us_social_medias_icon span{
        display: flex;
        justify-content: center;
        margin-bottom: 1.75rem;
    }
    .footer_contact_us_social_medias_icon_container{
        display: flex;
        justify-content: center;
    }
    .footer_container ul li a{
        font-size: 14px;
    }
    .footer_logo_bottom{
        margin: 2.5rem 0;
    }
    .footer_container_description{
        flex-direction: column-reverse;
        align-items: center;
    }
    .footer_ldm{
        width: 100%;
        font-size: 0.5rem;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
    .footer_ldm a, .footer_ldm p{
        font-size: .8rem;
    }
    .footer_copyright{
        width: 100%;
        justify-content: center;
        margin-bottom: 1.5rem;
    }
}
